.card{
    width: 400px;
    background-color: rgba(202, 223, 226, 0.5) !important;
    }
    .container-fluid{
        background-image: url('../../assets/img/joinbg.jpg');
        background-size: 100%;
        height: auto; 
    }