
  <div class="fluid-container">
      <div class="row">
      
        <div class="col-sm-12">
            <div id="bg">
            <div class="card">
            <div class="card-img-overlay">

            
                <div  style="background: rgba(7, 15, 7, 0.7);"  >
                        
                       
                               
              <p class="display-4  text-center  "  style="font-family: 'Pacifico', cursive;color: white;">Submit<span style="font-family: 'Pacifico', cursive;"  
                class="text-danger">Assignments</span></p> 
              </div>                         
             
            
          <div class=" col-sm-12 text-center">
           <a routerLink="/upload"><img src="../../assets/img/cloud.png">
         </a> </div>
          <div class=" col-sm-12 text-center" >
              <button class="btn btn-warning btn-lg " id="joinbutton" routerLink="/join" >Join Us</button>
           </div>
           
                         
          </div>
             </div>
             
             </div>
             
            </div>
        
          
  
      </div>
    </div>
          
        
        
        


  
    